@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,700;1,400&display=swap');
$primary-color: #535353;
$secondary-color: #F38C8C;
$text-color: #ffff;
$font-weights: (
    "light": 300,
    "regular": 400,
    "semibold": 600,
    "bold": 700
);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $primary-color;
    font-family: "Poppins", sans-serif;
}

header, main, .main-icons {
    margin: 0 140px 0 140px;
}

header {
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
    nav {
        display: flex;
        li {
            list-style-type: none;
        }
        a {
            text-decoration: none;
            color: $text-color;
            padding-left: 50px;
            font-weight: map-get($font-weights, light);
        }
    }

}

main {
    padding-top: 126px;
    padding-left: 176px;
    p {
        color: $secondary-color;
    }
    h2 {
        color: $text-color;
        font-size: 32px;
    }
    .greet {
        font-size: 16px;
    }
    .profession {
        font-size: 18px;
        font-weight: map-get($font-weights, semibold);
    }
}

.main-icons {
    display: flex;
    padding-top: 164px;   
    padding-bottom: 101px;
    .social-media {
        padding-right: 45%; 
    }
    .mouse-scroll {
       position: relative;
       height: 60px;
       width: 30px;
       border: 1px solid #ffff;
       border-radius: 50px;
    }
    .mouse-scroll:after {
        position: absolute;
        top: 10px;
        width: 10px;
        height: 15px;
        content: '';
        background-color: #fff;
        border-radius: 50px;
        margin-left: 32%;
        animation: scroll 1.2s infinite;
        transition: ease-in 1.2s;
    } 
    @keyframes scroll {
        0% {
            opacity: 1;
            top: 10px;
        }
        100% {
            opacity: 0;
            top: 35px;
        }
    }
}

section {
    padding-top: 161px;
    background-color: white;
}